* {
    margin: 0;
}

body {
    background-color: black;
}

/* ************** header section ************** */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: white;
    background-color: black;
    margin-left: 2%;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    white-space: nowrap;
    margin-bottom: -70px;
}

header p {
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
    padding-top: 36px;
    color: #34ff78;
}

/* ************** main section ************** */
main {
    height: 100vh;
    background-color: rgb(248, 88, 2);
}

.outer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 100%;
}

.inner-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 48%;
    border-radius: 5px;
    background-color: #ffdd00;
}

#results-list {
    margin-left: 2%;
    margin-right: 5%;
    
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: black;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.search {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.search p {
    font-size: 1.5em;
    font-weight: bolder;
    color: black;
    padding-left: 2%;
}

.button-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
}

/* ************** footer section styling ************** */
footer {
    background-color: black;
}

a {
    color: greenyellow;
    text-decoration: none;
}

h6 {
    text-align: center;
    color: white;
}
